*{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
  width: 100%;
  padding: 10px 0;
}

.game{
  width: 100%;
  padding: 20px 0;
}

.game .board{
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

.game .board .cell{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 1px solid #BBB;
  font-size: 50px;
  background-color: white;
}

.btnPlayAgain{
  padding: 8px;
}

.container-history{
  padding: 10px 0;
}