*{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
  width: 100%;
  padding: 10px 0;
}

.game{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game .board{
  display: grid;
  grid-template-columns: 150px 150px 150px;
}

.game .board .cell{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border: 1px solid #BBB;
  font-size: 80px;
  background-color: white;
}